/* footer style file */
footer{
    background-color: while;
    height: 20px;
    width: 100%;
    border-top: solid 1px #CCCCCC;
    bottom: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

}