/* header file style */
header{
    color: while;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-image: url("/images/logo.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20px;
    margin: 0px;
    padding: 0px;
}