/* global style file */
body{
    margin: 0px;
    padding: 0px;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

div.container{
    max-width: 1000px;
    margin: 30px auto;
    /*padding: 0 20px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;*/

}